/**
  Buttons & Icons
 */

[class*="btn__"] {
  position: relative;
  display: inline-block;
  padding: 16px 42px;
  font-size: $fs-btn;
  @include font-main-regular;
  text-transform: uppercase;
  letter-spacing: 5px;

  transition: .25s;

  &::before {
    content: '';
    display: block;
    position: absolute;

    transition: .25s;
  }
}

.btn {

  &__adaptive {
    border-radius: 8px;

    &::before {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border: 2px solid transparent;
      border-radius: 8px;
      opacity: 1;
    }

    &:hover {
      &::before {
        top: -8px;
        left: -8px;
        right: -8px;
        bottom: -8px;
      }
    }
  }

  &__yellow {
    color: $color-yellow;
    border-radius: 8px;

    &::before {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border: 2px solid $color-yellow;
      border-radius: 8px;
      opacity: 1;
    }

    &:hover {
      background: $color-yellow;
      color: $color-blue!important;

      &::before {
        top: -8px;
        left: -8px;
        right: -8px;
        bottom: -8px;
      }
    }
  }

  &__yellow-black {

    color: $color-blue;
    border-radius: 8px;

    &::before {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border: 2px solid $color-brown;
      border-radius: 8px;
      opacity: 1;
    }

    &:hover {
      background: $color-brown;
      color: $color-white;

      &::before {
        top: -8px;
        left: -8px;
        right: -8px;
        bottom: -8px;
      }
    }
  }

  &__black {

    color: $color-blue;
    border-radius: 8px;

    &::before {
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      border: 2px solid $color-black;
      border-radius: 8px;
      opacity: 1;
    }

    &:hover {
      background: $color-black;
      color: $color-white;

      &::before {
        top: -8px;
        left: -8px;
        right: -8px;
        bottom: -8px;
      }
    }
  }

  &__w-arrow {
    padding: 10px 10px 10px 0;
    border-bottom: 2px solid $color-blue;

    &::before {
      width: 8px;
      height: 8px;
      border-top: 2px solid $color-blue;
      border-right: 2px solid $color-blue;
      transform: rotate(45deg);
      transform-origin: center center;
      right: -6px;
      bottom: -5px;
    }

    &:hover {
      color: $color-brown;
      border-color: $color-brown;
      padding-right: 20px;

      &::before {
        border-color: $color-brown;
      }
    }
  }
}

[class*="icon__"] {
  display: inline-block;
  height: 32px;
  width: 32px;
  margin: 4px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;

  transition: .25s;

  &:hover {
    opacity: .7;
  }
}

.icon {
  &__social {

  }
}